/*NOTE GLOBAL */
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.clear {
  clear: both;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 16px;
}

.line {
  background-image: url(../img/line.png);
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

/*NOTE HEADER */
/*NOTE HEADER BANNER */
.header__logoImg {
  float: left;
}

.header__slogan {
  float: right;
  margin-right: 120px;
}

/*NOTE HEADER NAVBAR */
.header ul {
  list-style: none;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  padding: 15px 0;
}

.header__navbar ul li {
  display: inline;
}
/* xài padding vì trên layout đường underline dài hơn kích thước chữ, nên làm vô thẻ a luôn */
.header__navbar ul a {
  text-decoration: none;
  text-transform: uppercase;

  color: #636363;
  font-weight: bold;
  /* 1 vw = 1% so với kích thước màn hình */
  font-size: 1.13vw;

  /* 1 em = 1 current font size gần nhất */
  padding: 0 0.3em;
}

.header__navbar ul li:hover {
  border-bottom: solid 2px #b31c25;
}

.header__navbar ul .active {
  border-bottom: solid 2px #b31c25;
}

/* NOTE CAROUSEL */
/* TODO responsive img  */
.carousel {
  background-image: url("../img/slider_1.png");
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

/* NOTE INTRO */
.intro p {
  text-align: center;
  color: #636363;
  line-height: 25px;
  padding: 0 25px;
}

/* NOTE PROGRAMS */

.programs__item {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.programs__item img {
  width: 100%;
}

.programs__item h3 {
  color: #b31c25;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0 5px;
}

.programs__item p {
  color: #636363;
  margin: 0;
  font-size: 14px;
}

/* NOTE FOOTER */
/* TODO 
  fix lại cấu trúc footer 
  repsonsive footer logo
*/
/* https://www.lockedownseo.com/parent-div-100-height-child-floated-elements/ */
.footer {
  background-color: #b31c25;
  color: white;
  /* Fixed */
  /* overflow: auto; */
  /* height: auto; */
  padding: 20px 50px;
}

.footer img {
  float: left;
  /* display: inline-block; */
}

.footer p {
  float: right;
  width: 50%;
  word-spacing: 2px;
  text-align: justify;
}
